@using LeaveMa.Business.Models;
@model EmployeeModel 

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Profile</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                      
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="../../dist/img/av1.jpg"
                                 alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">@(Model.FirstName + " " + Model.LastName)</h3>

                        <p class="text-muted text-center">@Html.DisplayFor(item => item.Role.Name)</p>

                        <ul class="list-group list-group-unbordered mb-3">

                            <li class="list-group-item">
                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Country</strong>

                                <p class="text-muted">@Html.DisplayFor(item => item.Country.Name)</p>
                            </li>
                            <li class="list-group-item">
                                <strong><i class="fas fa-book mr-1"></i> Project</strong>

                                <p class="text-muted">
                                    @Model.EmployeeProjects.Where(x => x.IsCurrent).FirstOrDefault()?.Project?.Name
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <strong style="color:#007bff">Details</strong>
                    </div><!-- /.card-header -->
                    <div class="card-body">

                            <div id="details">
                            <form class="form-horizontal" method="post" action="Profile/Update">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Employee Code</label>
                                        <div class="col-sm-10">
                                            <input asp-for="Code" type="text" disabled class="form-control" id="inputCode" placeholder="Code">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">First Name</label>
                                        <div class="col-sm-10">
                                            <input asp-for="FirstName" type="text" class="form-control" id="inputFirst" placeholder="First name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Last Name</label>
                                        <div class="col-sm-10">
                                            <input asp-for="LastName" type="text" class="form-control" id="inputLastName" placeholder="Last name">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                        <input asp-for="Email" type="email" disabled class="form-control" id="inputEmail" placeholder="Email">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->

                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>